snippet beg "Expands in environment begin-end" Ab
\begin{$1}
	$2
\end{$1}
endsnippet

snippet \[ "Expands in math display mode" A
\[
	$1
\]
endsnippet

snippet $$ "Expands in inline math mode" A
\$ $1 \$
endsnippet

