#battery {
    background-color: @fg;
    color: @fg-inverted;
}

#battery.charging,
#battery.plugged {
    background-color: @ok;
    color: @fg;
}

#battery.critical:not(.charging) {
    background-color: @critical;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Only used by the critical battery state above */
@keyframes blink {
    to {
        background-color: @fg;
        color: @fg-inverted;
    }
}

#backlight {
    background-color: @muted;
}
