#language {
    /* This forces Waybar to look at the emoji font FIRST for the language text */
    font-family: "Noto Color Emoji", sans-serif;
    background: @language-bg;
    color: @language-fg;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
