/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg;
}

#workspaces button:hover {
    background: @overlay;
}

#workspaces button.focused {
    background-color: @accent;
}

#workspaces button.urgent {
    background-color: @urgent;
}

#mode {
    background-color: @accent;
}

#window,
#workspaces {
    margin: 0 4px;
}

#scratchpad {
    background: @overlay;
}

#scratchpad.empty {
    background-color: transparent;
}

#tray {
    background-color: @info;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @urgent;
}
